{% extends "SlackissVoicensBundle:layout:layout.html.twig" %}

{% block title %}文章列表{% endblock %}

{% block body %}


    <div class="grid-article" id="archive">
    {% for entity in entities %}
        <!-- BEGIN .post -->
        <div class="post floated-thumb">

            <!-- BEGIN .post-thumb -->

            <div class="post-thumb">
                <a target="_blank" href="{{ path('user_article_show', { 'id': entity.id }) }}" title="{{ entity.title }}"><img
                            src="{{vich_uploader_asset(entity,'attach')|imagine_filter('thumbnail')}}" alt=""> </a>
            </div>
            <!-- END .post-thumb -->


            <!-- BEGIN .post-meta -->
            <div class="post-meta">

                <p><a class="meta-title" target="_blank" href="{{ path('user_article_show', { 'id': entity.id }) }}"
                      title="{{ entity.title }}">{{ entity.title }}</a><br>{{ entity.created|date('Y/m/d') }}
                 </p>

			<span class="excerpt"><p>
                    {{ entity.summary|nl2br }}
			</p>
</span>

                <p class="align-right"><span class="read-more"><a target="_blank" href="{{ path('user_article_show', { 'id': entity.id }) }}">阅读全文
                            &gt;&gt;</a></span></p>

            </div>
            <!-- END .post-meta -->

            <div class="clear"></div>

        </div>
        <!-- END .post -->

    {% endfor %}

    </div>


    {{knp_pagination_render(entities) }}
{% endblock %}