{% extends "SlackissVoicensBundle:layout:layout.html.twig" %}

{% block title %}{{ entity.title }}{% endblock %}

{% block body %}
    <div class="grid-article" id="archive">

        <div class="entry-header">
            <h1>{{ entity.title }}</h1>
        </div>
        <div>{{ entity.modified|date('Y-m-d h:i') }}</div>
        <div><a href="{{ vich_uploader_asset(entity,'attach') }}" target="_blank">
                <img src="{{ vich_uploader_asset(entity,'attach')|imagine_filter('thumbnail_large') }}"/>
            </a></div>
        <br>

        <div>
            {{ entity.content|raw }}
        </div>

    </div>



    <div class="clearfix">
        <div class="pull-left">
            <a href="{{ path('user_article_list') }}">
                返回
            </a>
        </div>

    </div>
{% endblock %}
