{% extends "SlackissVoicensBundle:layout:layout.html.twig" %}

{% block title %}文章列表{% endblock %}

{% block body %}
<table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>标题</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>状态</th>
                <td>
                    {{ entity.state=='draft'?'草稿': entity.state=='published'?'发布':'禁用' }}
                </td>
            </tr>
            <tr>
                <th>创建时间</th>
                <td>{{ entity.created|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>封面图</th>
                <td>
                    <a href="{{vich_uploader_asset(entity,'attach')}}" target="_blank">
                        <img src="{{vich_uploader_asset(entity,'attach')|imagine_filter('thumbnail')}}"/>
                    </a>
                </td>
            </tr>
            <tr>
                <th>摘要</th>
                <td>{{ entity.summary }}</td>
            </tr>

            <tr>
                <th>内容</th>
                <td>{{ entity.content|raw }}</td>
            </tr>

        </tbody>
    </table>

<div class="clearfix">
  <div class="pull-left">
    <a href="{{ path('author_article_list') }}">
      返回
    </a>
  </div>

</div>
{% endblock %}
